@page "/operation_types"
@using Shared2.DTO.OperationType
@inject HttpClient Http

<div class="card mt-4">
    <div class="card-header">
        OperationType List
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Is Taxable</th>
                <th>Is Income</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var forecast in forecasts)
                        {
                            <tr>
                                <td>@forecast.Date.ToShortDateString()</td>
                                <td>@forecast.TemperatureC</td>
                                <td>@forecast.TemperatureF</td>
                                <td>@forecast.Summary</td>
                            </tr>
                        }
            </tbody>
        </table>
    </div>
</div>

@code {
    private OperationTypeDto[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<OperationTypeDto[]>("sample-data/weather.json");
    }

}